@using MezbanData.DbContext
@using MezbanModel.Category

@model  IList<CategoryViewModel>
@{
    var langs = new List<Language>();
    if (ViewBag.Languages != null)
    {
        langs = ViewBag.Languages as List<Language>;
    }
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@section Styles{
    <link href="~/Assets/backend/dist/css/admin/common.css" rel="stylesheet" />
    <link href="~/Assets/backend/dist/css/admin/category.css" rel="stylesheet" />
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2 class="font-weight-bold">Category Management</h2>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="../Restaurant/Admin/Home"></a><i class="fas fa-home"></i></li>
                    <li class="breadcrumb-item active">Category</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="box">
                    <div class="filter-label">
                        <h2>
                            <i class="fas fa-filter mr-1"></i>
                            Filter By
                            <i class="fas ml-1 fa-caret-down hidden filterState arrow-down"></i>
                            <i class="fas ml-1 fa-caret-up filterState arrow-up"></i>
                        </h2>
                        <div class="separator-dashed"></div>
                    </div>
                    <form action="/" method="post" class="hidden formFilter">
                        <div class="filter-section" id="searchForm" style="">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Category Name:</label>
                                        <input class="form-control ng-untouched ng-pristine ng-valid" name="firstName" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Category Code:</label>
                                        <input class="form-control ng-untouched ng-pristine ng-valid" name="surName" type="text">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary btn-masterial" type="submit">
                                        <i class="fas fa-search mr-1"></i> Search
                                    </button>
                                    <button class="btn btn-light ml-2 btn-masterial" type="button">
                                        <i class="fas fa-times mr-1"></i> Reset
                                    </button>
                                </div>
                            </div>
                            <div class="separator-dashed">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-options">
                    <a class="btn btn-primary mr-2 btn-masterial" data-toggle="modal" data-target="#modal-add" style="color:#fffafa"><i class="fas fa-plus"></i> Create New</a>
                    <a href="" class="btn btn-danger mr-4 btn-masterial"><i class="far fa-trash-alt"></i> Delete All</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    @{ Html.RenderPartial("_Gird", new ViewDataDictionary() { { "languages", langs }, { "Model", Model } }); }
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@{
    Html.RenderPartial("_FormTabel");
}
<div class="modal fade" id="modal-delete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/" method="post">
                <div class="modal-body">
                    <p class="text-center">Are you sure want to delete?</p>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="submit" class="btn btn-danger btn-masterial">Yes</button>
                    <button type="button" class="btn btn-default btn-masterial" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts
{
    <script>
        function getToken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
    </script>
    <script src="~/Assets/backend/dist/js/category/manage.js"></script>
}
