
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@section Styles {
    <link href="~/Assets/backend/dist/css/admin/restaurant.css" rel="stylesheet" />
    <link href="~/Assets/backend/plugins/international-telephone-input/css/intlTelInput.min.css" rel="stylesheet" />
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create Restaurant</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="Admin/Home"></a><i class="fas fa-home"></i></li>
                    <li class="breadcrumb-item">Restaurant</li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form action="/" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Restaurant Name</label>
                                    <input type="text" name="name" value="" class="form-control" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label>Restaurant Longtitude</label>
                                            <input type="text" name="name" value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Restaurant Latitude</label>
                                            <input type="text" name="name" value="" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Telephone</label>
                                    <input type="tel" class="form-control" id="telephone" placeholder="Username">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Restaurant Slogan</label>
                                    <input type="text" name="name" value="" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" name="name" value="" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Owner</label>
                                    <select class="form-control owner">
                                        <option value="value">Nguyễn Minh Hiếu</option>
                                        <option>Sanzida laila Trisha</option>
                                        <option>Jinnat Raihun Sumi</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script src="~/Assets/backend/plugins/international-telephone-input/js/intlTelInput-jquery.min.js"></script>
    <script src="~/Assets/backend/dist/js/restaurant/form.js"></script>
}
