@model MezbanAirKitchen.Models.RegisterViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@section Styles {
    <link href="~/Assets/backend/dist/css/admin/common.css" rel="stylesheet" />
    <link href="~/Assets/backend/dist/css/admin/restaurant.css" rel="stylesheet" />
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2 class="font-weight-bold">Restaurants Management</h2>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="Admin/Home"></a><i class="fas fa-home"></i></li>
                    <li class="breadcrumb-item active">Restaurant</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="box">
                    <div class="filter-label">
                        <h2>
                            <i class="fas fa-filter mr-1"></i>
                            Filter By
                            <i class="fas ml-1 fa-caret-down hidden filterState arrow-down"></i>
                            <i class="fas ml-1 fa-caret-up filterState arrow-up"></i>
                        </h2>
                        <div class="separator-dashed"></div>
                    </div>
                    <form action="/" method="post" class="hidden formFilter">
                        <div class="filter-section" id="searchForm" style="">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Restaurant Name:</label>
                                        <input class="form-control ng-untouched ng-pristine ng-valid" name="firstName" type="text">
                                    </div>
                                </div><div class="col-sm-12 col-md-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Address:</label>
                                        <input class="form-control ng-untouched ng-pristine ng-valid" name="surName" type="text">
                                    </div>
                                </div><div class="col-sm-12 col-md-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Sở Hữu:</label>
                                        <input class="form-control ng-untouched ng-pristine ng-valid" name="email" type="text">
                                    </div>
                                </div><div class="col-12">
                                    <button class="btn btn-primary btn-masterial" type="submit">
                                        <i class="fas fa-search mr-1"></i> Search
                                    </button>
                                    <button class="btn btn-light ml-2 btn-masterial" type="button">
                                        <i class="fas fa-times mr-1"></i> Reset
                                    </button>
                                </div>
                            </div>
                            <div class="separator-dashed">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-options">
                    <a href="/Admin/Restaurant/Add" class="btn btn-primary mr-2 btn-masterial"><i class="fas fa-plus"></i> Create New</a>
                    <a href="" class="btn btn-danger mr-4 btn-masterial"><i class="far fa-trash-alt"></i> Delete All</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="restaurantTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="checkbox-primary"></th>
                                <th>Tên</th>
                                <th>Ảnh</th>
                                <th>Địa Chỉ</th>
                                <th>Trạng Thái</th>
                                <th>Sở Hữu</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Rendering engine</td>
                                <td>Browser</td>
                                <td>Platform(s)</td>
                                <td><span class="badge p-2 badge-success">Active</span></td>
                                <td>CSS grade</td>
                                <td class="text-center">
                                    <a href="" class="btn custom-btn custom-edit btn-circle btn-masterial"><i class="fas fa-pencil-alt"></i></a>
                                    <button class="btn custom-btn ml-3 custom-delete btn-circle btn-masterial"><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Rendering engine</td>
                                <td>Browser</td>
                                <td>Platform(s)</td>
                                <td><span class="badge p-2 badge-success">Active</span></td>
                                <td>CSS grade</td>
                                <td class="text-center">
                                    <a href="" class="btn custom-btn custom-edit btn-circle btn-masterial"><i class="fas fa-pencil-alt"></i></a>
                                    <button class="btn custom-btn ml-3 custom-delete btn-circle btn-masterial"><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Rendering engine</td>
                                <td>Browser</td>
                                <td>Platform(s)</td>
                                <td><span class="badge p-2 badge-success">Active</span></td>
                                <td>CSS grade</td>
                                <td class="text-center">
                                    <a href="" class="btn custom-btn custom-edit btn-circle btn-masterial"><i class="fas fa-pencil-alt"></i></a>
                                    <button class="btn custom-btn ml-3 custom-delete btn-circle btn-masterial"><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Rendering engine</td>
                                <td>Browser</td>
                                <td>Platform(s)</td>
                                <td><span class="badge p-2 badge-success">Active</span></td>
                                <td>CSS grade</td>
                                <td class="text-center">
                                    <a href="" class="btn custom-btn custom-edit btn-circle btn-masterial"><i class="fas fa-pencil-alt"></i></a>
                                    <button class="btn custom-btn ml-3 custom-delete btn-circle btn-masterial"><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section scripts{
    <script src="~/Assets/backend/dist/js/restaurant/manage.js"></script>
}
