
@{
    ViewBag.Title = "Setting";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@section Styles{
    <link href="~/Assets/backend/dist/css/admin/common.css" rel="stylesheet" />
    <link href="~/Assets/backend/dist/css/admin/restaurant.css" rel="stylesheet" />
    <link href="~/Assets/backend/plugins/international-telephone-input/css/intlTelInput.min.css" rel="stylesheet" />
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4 class="font-weight-bold">Restaurants Settings - KFC</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="Admin/Home"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="Admin/Restaurant">Restaurant</a></li>
                    <li class="breadcrumb-item active">Restaurant Setting</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="content">
    <form action="/" method="post">
        <div class="card shadow pt-4 pb-4">
            <div class="row mt-3 mb-3 mr-2">
                <div class="col-sm-12 col-md-3 col-lg-3 text-center border-right">

                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-right">
                    <div class="restaurant-info">
                        <div class="text-center">
                            <h5 class="text-center font-weight-bold">Restaurant Info</h5>
                        </div>
                        <div class="restaurant-info-item mt-3">
                            <div class="form-group row">
                                <label class="col-sm-4 pr-0 col-form-label">Restaurant Name<span class="required"></span></label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" class="form-control border border-primary">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-concierge-bell text-warning"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="restaurant-info-item">
                            <div class="form-group row">
                                <label class="col-sm-4 pr-0 col-form-label">Restaurant Slogan</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" class="form-control border border-primary">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-signature text-primary"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="restaurant-info-item">
                            <div class="form-group row">
                                <label class="col-sm-4 pr-0 col-form-label">Owner<span class="required"></span></label>
                                <div class="col-lg-8">
                                    <select class="owner form-control border border-primary">
                                        <option value="value">Nguyễn Minh Hiếu</option>
                                        <option>Sanzida laila Trisha</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="restaurant-info-item">
                            <div class="form-group row">
                                <label class="col-sm-4 pr-0 col-form-label">Category</label>
                                <div class="col-lg-8">
                                    <select class="owner form-control border border-primary" multiple="multiple">
                                        <option value="value">Nguyễn Minh Hiếu</option>
                                        <option>Sanzida laila Trisha</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="restaurant-info-item">
                            <div class="form-group row">
                                <label class="col-sm-4 pr-0 col-form-label">Type Of Cuisine</label>
                                <div class="col-lg-8">
                                    <select class="owner form-control border border-primary" multiple="multiple">
                                        <option value="value">Nguyễn Minh Hiếu</option>
                                        <option>Sanzida laila Trisha</option>
                                        <option>Jinnat Raihun Sumi</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-4">
                    <div class="restaurant-contact">
                        <div class="text-center">
                            <h5 class="text-center font-weight-bold">Restaurant Contact</h5>
                        </div>
                        <div class="restaurant-contact-item mt-3">
                            <div class="form-group row">
                                <label class="col-sm-4 pr-0 col-form-label">Phone Number 1</label>
                                <div class="col-sm-8">
                                    <input type="tel" class="form-control border border-primary telephone" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="restaurant-contact-item">
                            <div class="form-group row">
                                <label class="col-sm-4 pr-0 col-form-label">Phone Number 2</label>
                                <div class="col-sm-8">
                                    <input type="tel" class="form-control border border-primary telephone" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="restaurant-contact-item">
                            <div class="form-group row">
                                <label class="col-sm-4 pr-0 col-form-label">Restaurant Latitude</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" class="form-control border border-primary">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-globe text-primary"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="restaurant-contact-item">
                            <div class="form-group row">
                                <label class="col-sm-4 pr-0 col-form-label">Restaurant Longitude</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" class="form-control border border-primary">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-globe text-primary"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="restaurant-contact-item">
                            <div class="form-group row">
                                <label class="col-sm-4 pr-0 col-form-label">Restaurant Address</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" class="form-control border border-primary">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fas fa-map-marker-alt text-danger"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card shadow"  style="height: 400px;">
                    <h1>Album Ảnh</h1>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card shadow" style="height: 400px;">
                    <h1>Mô Tả</h1>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card shadow"  style="height: 400px;">
                    <h1>Thời gian mở cửa</h1>
                </div>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/Assets/backend/plugins/international-telephone-input/js/intlTelInput-jquery.min.js"></script>
    <script src="~/Assets/backend/dist/js/restaurant/form.js"></script>
}
